
 
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FAEDCD;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-left: 10vw;
}

.contact-left-title hr{
    font-weight: 1000;
    border: solid 1px #E34752;
    font-size: 40px;
    margin-bottom: 10px;
    height: 5px;
    background-color: #E34752 ;
    border-radius: 5px;

}

.contact-left-title h2{
    font-weight: 600;
    color: black;
    font-size: calc(20px + 3vh);
    margin-bottom: 5px;

}
xs
.contact-left button{
    margin-top: 10px;
    font-weight: 150px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #DD2C54;
    color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;


}

.contact-inputs{
    width: 400px;
    height: calc(25px + 6vh); 
    border: none;
    outline: none;
    padding: 15px 25px;
    font-weight: 500;
    font-size: calc(16px + 0.5vw); 
    color: rgb(0, 0, 0);
    border-radius: 50px;
    box-sizing: border-box; 
}

.contact-right img{
    width: 600px;
    height:  600px;
}

