.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top of the container */
    background-color: #FAEDCD;
    padding: 20px;
    border-radius: 8px;
    max-width: 900px;
    margin: 0 auto;
}


body{
    background-color: #FAEDCD;
}


form {
    flex: 1;
    padding-right: 20px;
    margin-top: 80px;
}

h2 {
    font-size: calc(20px + 1vh + 1vw);
    margin-bottom: 15px;
    color: #DD2C54;
}

hr {
    height: 4px;
    color: #DD2C54;
    background: #DD2C54;
    font-size: 0;
    border: 0;
    width: 40%;
}

input[type="text"], input[type="email"], textarea {
    width: 80%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
}

textarea {
    height: 150px;
    resize: vertical;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
    font-style: italic;
}

input[type="submit"] {
    width: 30%;
    padding: 12px;
    background-color: #DD2C54;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #dd4569;
}

.contact-right {
    flex: 1; /* Increase this to make the image container larger */
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-right img {
    width: 100%; /* Adjust to control the image size */
    height: auto;
    max-width: 600px; /* Limits the maximum width of the image */
    border-radius: 8px;
}
