h1 {
    font-size: 3vw;
    color:  #6f1d46;
    text-align: center;
    margin: 5vh 0; 
    font-weight: 200;
    letter-spacing: 0.2vw; 
}

#aboutDescription {
    font-size: 2vw;
    color:  #6f1d46;
    text-align: center;
    margin: 5vh auto; 
    padding: 0 13vw; 
    font-weight: 200;
    letter-spacing: 0.2vw;
}

.container {
    position: relative; 
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh; 
}

.left1 {
    position: absolute;
    top: 10vh;
    left: -10vw; /* Adjusting the left position */
    right: 20vw; /* This controls the right boundary instead of margin-right */
    min-height: 60vh;
    background-color: #fff0d4;
    padding: 3vh;
    border-radius: 0.25vw;
    z-index: 1;
}

.right1 {
    position: absolute;
    top: 20vh;
    left: 30vw; /* Adjusting the left position */
    right: -10vw; /* This controls the right boundary instead of margin-right */
    min-height: 60vh;
    background-color: #6f1d46;
    padding: 3vh;
    border-radius: 0.25vw;
    z-index: 1;
}

.left1 h1 {
    font-size: 3vw; 
    font-weight: 200;
    text-align: left;
}

.left1 p {
    text-align: left;
    margin: 2vh 0;
    font-size: 1.75vw;
    line-height: 1.5;
    padding-right: 20vw; 
    font-weight: 20;
    letter-spacing: 0.1vw;
}

.buttonsection a {
    text-decoration: none;
    background-color:  #6f1d46;
    color: #eaa82a;
    padding: 2vh 5vw; 
    display: inline-block;
    margin-top: 3vh;
    font-size: 2vw;
    border-radius: 1vw;
}

#ferret1 {
    max-width: 100%;
    height: auto;
}