.top-section h1 {
    font-size:calc(16px + 3vw);
    text-align: left;
    padding-top: 200px;
    padding-left: 6vw;
    font-weight: 200;
    letter-spacing: 0.2vw;
    z-index: 1;
}
 
#aboutDescription {
    font-size: calc(8px + 1.5vw);
    color:  #6f1d46;
    text-align: left;
    padding-left: 6vw;
    padding-bottom: 50px;
    padding-top: 0px;
    font-weight: 200;
    letter-spacing: 0.2vw;
    padding-right: 20vw;
}


.container {
    position: relative; 
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    transition: transform 0.3s ease;
    margin-bottom: 100px;
}

.container:hover {
    transform: scale(1.06) translate(0, 10px); 
}

.background--custom {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -2;
    top: 0;
    left: 0;
  }
  canvas#canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 60%;
    transform: rotate(12deg) scale(2) translateY(-66%);
    --gradient-color-1: #EF008F; 
    --gradient-color-2: #6ec3f4; 
    --gradient-color-3: #7038ff;  
    --gradient-color-4: #ffba27;
    --gradient-speed: 0.000006;
  }

/* --------------------CONTAINER 1 MEMBERS-------------------- */
.contentMembers {
    background-color: #fff0d4;
    padding-bottom: 0.5vh;
    padding-right: 1vw;
    padding-left: 1vw;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    z-index: 1;
    flex: 1;
    flex-basis: 55%; 
}

.imageContainerMembers {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: -100px;
    background-color: #6f1d46;
    padding: 1vw;
    border-radius: 10px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center; 
    display: flex;
    flex: 1;
    z-index: 2;
    flex-basis: 45%; 
}

.contentMembers h1 {

    color: #6f1d46;
    font-size: calc(20px + 1.5vw); 
    font-weight: 300;
    text-align: left;
    margin-left: 1.5vw;
    padding-top: 8vh;
}

.contentMembers p {
    text-align: left;
    margin: 2vh 0;
    margin-left: 1.5vw;
    font-size: calc(10px + 0.75vw);
    line-height: 1.5;
    padding-right: 110px; 
    font-weight: 20;
    letter-spacing: 0.1vw;
}

#ferret1 {
    width: 100%;
    height: 100%; 
    object-fit: cover; /* image covers the container */
    border-radius: 10px;
}

.buttonMembersAlign {
    display: flex;
    justify-content: flex-start; 
}

.pageTotal {
    width: 100%;
    transition: width 0.3s ease;
}

.openSidebarMenu:checked ~ .pageTotal {
    width: calc(100% - 250px); 
    margin-right: 250px; 
}


.buttonMembers{
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: calc(10px + 1vw);
    font-weight: 10px;
    padding: 0.5vw;
    border-radius: 50px;
    letter-spacing: 2px;
    min-width: 300px;
    width: 13vw;
    height: 5vw;
    text-align: center;
    color:  #eaa82a;
    background-color: #6f1d46;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 1vw;

}

.buttonMembers:hover{
    background-color:  #eaa82a;
    color: #6f1d46;
}


/* --------------------CONTAINER 2 COBBERTUNITY -------------------- */
.contentCobbertunity {
    background-color: #fff0d4;
    padding-bottom: 0.5vh;
    padding-right: 1vw;
    padding-left: 1vw;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    z-index: 1;
    flex: 1;
    flex-basis: 55%;   
}

.imageCobbertunity {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: -100px;
    background-color: #6f1d46;
    padding: 1vw;
    border-radius: 10px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center; 
    display: flex;
    flex: 1;
    z-index: 2;
    flex-basis: 45%;   
}


.contentCobbertunity h1 {

    color: #6f1d46;
    font-size: 3vw; 
    font-weight: 300;
    text-align: right;
    margin-right: 1.5vw;
    padding-top: 8vh;
}

.contentCobbertunity p {
    text-align: right;
    margin: 2vh 0;
    margin-right: 1.5vw;
    font-size: calc(10px + 0.75vw);
    line-height: 1.5;
    padding-left: 110px; 
    font-weight: 20;
    letter-spacing: 0.1vw;
}

#ferret2 {
    width: 100%;
    height: 100%; 
    object-fit: cover; /* image covers the container */
    border-radius: 10px;
}

.buttonCobbertunityAlign {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
}

.buttonCobbertunity{
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: calc(10px + 1vw);
    font-weight: 10px;
    padding: 0.5vw;
    border-radius: 50px;
    letter-spacing: 2px;
    min-width: 300px;
    width: 13vw;
    height: 5vw;
    text-align: center;
    color:  #eaa82a;
    background-color: #6f1d46;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top: 5vh;
    margin-bottom: 2vh;
    

}

.buttonCobbertunity:hover{
    background-color:  #eaa82a;
    color: #6f1d46;
}


/* --------------------CONTAINER 3 PROGRAMS -------------------- */
.contentPrograms {
    background-color: #fff0d4;
    padding-bottom: 0.5vh;
    padding-right: 1vw;
    padding-left: 1vw;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    z-index: 1;
    flex: 1;
    flex-basis: 55%;   
}

.imagePrograms {
    margin-top:5vh;
    margin-bottom: 5vh;
    margin-left: -100px;
    background-color: #6f1d46;
    padding: 1vw;
    border-radius: 10px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center; 
    display: flex;
    flex: 1;
    z-index: 2;
    flex-basis: 45%;   
}


.contentPrograms h1 {

    color: #6f1d46;
    font-size: 3vw; 
    font-weight: 300;
    text-align: left;
    margin-left: 1.5vw;
    padding-top: 8vh;
}

.contentPrograms p {
    text-align: left;
    margin: 2vh 0;
    margin-left: 1.5vw;
    font-size: calc(10px + 0.75vw);
    line-height: 1.5;
    padding-right: 110px; 
    font-weight: 20;
    letter-spacing: 0.1vw;
}

#ferret3 {
    width: 100%;
    height: 100%; 
    object-fit: cover; /* image covers the container */
    border-radius: 10px;
}

.buttonProgramsAlign {
    display: flex;
    justify-content: flex-start; /* Aligns the button to the right */
}


.buttonPrograms{
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: calc(10px + 1vw);
    font-weight: 10px;
    padding: 0.5vw;
    border-radius: 50px;
    letter-spacing: 2px;
    min-width: 300px;
    width: 13vw;
    height: 5vw;
    text-align: center;
    color:  #eaa82a;
    background-color: #6f1d46;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top: 5vh;
    margin-bottom: 2vh;
    

}

.buttonPrograms:hover{
    background-color:  #eaa82a;
    color: #6f1d46;
}



/* --------------------CONTAINER 4 CONNECT -------------------- */
.contentConnect {
    background-color: #fff0d4;
    padding-bottom: 0.5vh;
    padding-right: 1vw;
    padding-left: 1vw;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    z-index: 1;
    flex: 1;
    flex-basis: 55%;   
}

.imageConnect {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: -100px;
    background-color: #6f1d46;
    padding: 1vw;
    border-radius: 10px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center; 
    display: flex;
    flex: 1;
    z-index: 2;
    flex-basis: 45%;   
}


.contentConnect h1 {

    color: #6f1d46;
    font-size: 3vw; 
    font-weight: 300;
    text-align: right;
    margin-right: 1.5vw;
    padding-top: 8vh;
}

.contentConnect p {
    text-align: right;
    margin: 2vh 0;
    margin-right: 1.5vw;
    font-size: calc(10px + 0.75vw);
    line-height: 1.5;
    padding-left: 110px; 
    font-weight: 20;
    letter-spacing: 0.1vw;
}

#ferret4 {
    width: 100%;
    height: 100%; 
    object-fit: cover; /* image covers the container */
    border-radius: 10px;
}

.buttonConnectAlign {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
}
.buttonConnect{
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: calc(10px + 1vw);
    font-weight: 10px;
    padding: 0.5vw;
    border-radius: 50px;
    letter-spacing: 2px;
    min-width: 300px;
    width: 13vw;
    height: 5vw;
    text-align: center;
    color:  #eaa82a;
    background-color: #6f1d46;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top: 5vh;
    margin-bottom: 2vh;
    

}

.buttonConnect:hover{
    background-color:  #eaa82a;
    color: #6f1d46;
}


/* --------------------CONTAINER 5 SOCIAL MEDIA -------------------- */
.contentSocial {
    background-color: #fff0d4;
    padding-bottom: 0.5vh;
    padding-right: 1vw;
    padding-left: 1vw;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    z-index: 1;
    flex: 1;
    flex-basis: 55%;   
}

.imageSocial {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: -100px;
    background-color: #6f1d46;
    padding: 1vw;
    border-radius: 10px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center; 
    display: flex;
    flex: 1;
    z-index: 2;
    flex-basis: 45%;   
}


.contentSocial h1 {

    color: #6f1d46;
    font-size: 3vw; 
    font-weight: 300;
    text-align: left;
    margin-left: 1.5vw;
    padding-top: 8vh;
}

.contentSocial p {
    text-align: left;
    margin: 2vh 0;
    margin-left: 1.5vw;
    font-size: calc(10px + 0.75vw);
    line-height: 1.5;
    padding-right: 110px; 
    font-weight: 20;
    letter-spacing: 0.1vw;
}

#ferret5 {
    width: 100%;
    height: 100%; 
    object-fit: cover; /* image covers the container */
    border-radius: 10px;
}

.buttonSocialAlign a {
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 30px; 
    color:  #6f1d46;
    text-decoration: none; 
    display: flex;
    justify-content: flex-start; 
    padding-right: 10px;
    padding-top: 20px;
}

.buttonSocial {
    letter-spacing: 2px;
    color:  #6f1d46;
}

.bi-instagram {
    margin-left: 1.5vw; 
}
