/* ----- GENERAL STYLES ----- */
html, body {
   overflow-x: hidden;
   height: 100%;
   padding: 0;
   margin: 0;
   background: #fff;
}

/* ----- HEADER STYLES ----- */
.header {
   background-color: #6f1d46;
   position: fixed;
   width: 100%;
   color: white;
   align-items: center;
   padding: 10px 20px;
   z-index: 9998;
   height: 100px;
   display: flex;
   justify-content: space-between; 
   margin: 0 auto;
   max-width: 100%;
   box-shadow: none;
   overflow: hidden;
   padding-right: 5vw;
}

/* Left side of the header */
#leftHeader {
   display: flex;
   align-items: center;
   justify-content: flex-start; 
   flex: 1;
}

/* Right side of the header */
#rightHeader {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex: 1;
}

/* -----LOGO----- */
.header-logo {
   height: 10vh;
   max-height: 100px;
   width: auto;
   margin-left: -1vw;
}

/* ----- NAVIGATION STYLES ----- */
nav {
   display: flex;
   align-items: center;
   justify-content: flex-end; 
   flex-grow: 1; 
}


nav ul {
   list-style: none;
   display: flex;
   font-size: 2rem;
   align-items: center;
   justify-content: center;
 
}



nav ul li {
   margin-left: 20px;
}


nav ul li a {
   color: white;
   text-decoration: none;
   padding: 10px;
}


nav ul li a:hover {
   font-size: 2rem;
   margin-bottom: 0.5rem;
   color: #eaa82a;
}

/* ----- HIDING NAVBAR LINKS WHEN SIDEBAR IS OPEN ----- */
input[type="checkbox"]:checked ~ nav ul {
   color: yellow; 
   pointer-events: none; 
}

/* Show links when the sidebar is closed */
input[type="checkbox"]:not(:checked) ~ nav ul {
   color: green; 
   pointer-events: auto; 
}

/* ----- MAIN CONTENT STYLES ----- */
.main {
   margin: 0 auto;
   
   display: block;
   height: 100%;
   margin-top: 10vh; 
}


/* Inner content */
.mainInner {
   display: table;
   height: 100%;
   width: 100%;
   text-align: center;
}


.mainInner div {
   display: table-cell;
   vertical-align: middle;
   font-size: 3em;
   font-weight: bold;
   letter-spacing: 1.25px;
}

/* ----- SIDEBAR STYLES (UPDATED) ----- */
#sidebarMenu {
   height: 100%;
   position: fixed;
   right: 0;
   width: 300px;
   margin-top: 10vh;
   transform: translateX(300px);
   transition: transform 250ms ease-in-out;
   background-color: #6f1d46;
   z-index: 9999;
   
}

/* Sidebar inner styles */
.sidebarMenuInner {
   margin: 0;
   padding: 0;
}

/* Style for the outer links */
.sidebarMenuInner > li {
   list-style: none;
   color: #fff;
   padding: 15px 25px;
   position: relative;
   margin-bottom: 10px; 
   transition: background 0.3s ease, box-shadow 0.3s ease;
}

/* Links within the list */
.sidebarMenuInner > li a {
   color: #fff;
   text-decoration: none;
   font-size: calc(20px + 1vh);
   display: block;
   width: 100%; 
   padding: 1vh  0;
   text-align: left;
   transition: color 0.3s ease;
}

/* Inner links (sub-menu) styling */
.sidebarMenuInner li ul {
   padding: 0;
   margin: 0;
   list-style: none;
   background-color: #6f1d46; 
}

.sidebarMenuInner li ul li {
   padding-left: 30px;
   padding-top:0.5vh;
   padding-bottom:0.5vh;
   transition: background 0.3s ease;
}

/* Inner links hover effect */
.sidebarMenuInner li ul li:hover {
   background-color: rgba(255, 255, 255, 0.1); 
}

.sidebarMenuInner li ul li a {
   font-size: calc(15px + 1vh);
   color: #fff;
   text-decoration: none;
   transition: color 0.3s ease;
}
.sidebarMenuInner li ul li a i {
   margin-left: -10px;
   margin-right: 10px; 
   font-size: 1.5rem;  
}

/* Inner links hover effect */
.sidebarMenuInner li ul li a:hover {
   color: #eaa82a;
}

/* Sidebar Toggle */
input[type="checkbox"] {
   transition: all 0.3s;
   box-sizing: border-box;
   display: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
   transform: translateX(0);
}

/* Sidebar Toggle Icon Styles */

.sidebarIconToggle {
   transition: all 0.3s;
   box-sizing: border-box;
   position: absolute;
   z-index: 9999;
   top: 37px;
   right: 15px;
   height: 35px;
   width: 35px;
}

.spinner {
   transition: all 0.3s;
   box-sizing: border-box;
   position: absolute;
   height: 4px;
   width: 100%;
   background-color: #fff;
}

.horizontal {
   transition: all 0.3s;
   box-sizing: border-box;
   position: relative;
   float: left;
   margin-top: 6px;
}

.diagonal.part-1 {
   position: relative;
   transition: all 0.3s;
   box-sizing: border-box;
   float: left;
}

.diagonal.part-2 {
   transition: all 0.3s;
   box-sizing: border-box;
   position: relative;
   float: left;
   margin-top: 6px;
}

/* Toggle Animations */
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
   opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
   transform: rotate(135deg);
   margin-top: 12px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
   transform: rotate(-135deg);
   margin-top: -14px;  /* needs to be more for some reason */
}

/* Admin Login Styles */
.adminLogin {
   position: absolute;
   bottom: 12vh;
   right: 10px;
   font-size: calc(12px + 1vh);
}

.adminLogin a {
   color: white;
   text-decoration: none;
   transition: background-color 0.3s ease;
}

.adminLogin a:hover {
   color: #eaa82a;
}


/* Default nav link color */
#mainNav ul li a {
   opacity: 1;
   color: white;
   pointer-events: auto;
}

/* Change nav link color when sidebar is open */
#mainNav.sidebar-open ul li a {
   opacity: 1;
   color: white;
   pointer-events: auto;
}


